API_KEY_AUTH=
DB_HOST=
DB_NAME=
DB_PASS=
DB_PASSWORD=
DB_POOL_LIMIT=
DB_PORT=
DB_USER=
FRONTEND_URL=
PUBLIC_APP_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
VITE_API_URL=
VITE_BOT_NAME=
VITE_BOT_TOKEN=
VITE_BOT_USERNAME=
WEBAPP_URL=