PORT=3000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=aura_v1_db
DB_PORT=3306

TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
WEBAPP_URL=https://emenu.yourdomain.com
FRONTEND_URL=http://localhost:5173